



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
    background-color: #f2f2f2;
    /*    background-color: #212121;
        background-image: linear-gradient(45deg,hsla(0,0%,100%,.05) 25%,transparent 0,transparent 75%,hsla(0,0%,100%,.05) 0,hsla(0,0%,100%,.05)),linear-gradient(-45deg,hsla(0,0%,100%,.05) 25%,transparent 0,transparent 75%,hsla(0,0%,100%,.05) 0,hsla(0,0%,100%,.05));
        background-size: 60px 60px;*/
}

body .base {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body .base h1 {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 30vw;
    display: block;
    margin: 0;
    color: #9ae1e2;
    position: relative;
    z-index: 0;
    animation: colors .4s ease-in-out forwards;
    animation-delay: 1.7s;
}
/*body .base h1:before {
    content: "\f023";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    margin-top: 25%;
    right: 38.5%;
    transform: rotate(180deg);
    font-size: 15vw;
    color: #ca3074;
    font-weight: 900;
    z-index: -1;
    text-align: center;
    animation: lock .2s ease-in-out forwards;
    animation-delay: 1.5s;
}*/
body .base h2 {
    font-family: 'Cabin', sans-serif;
    color: #9ae1e2;
    font-size: 5vw;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    animation: colors .4s ease-in-out forwards;
    animation-delay: 2s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body .base h5 {
    font-family: 'Cabin', sans-serif;
    color: #9ae1e2;
    font-size: 2vw;
    margin: 0;
    text-align: center;
    opacity: 0;
    animation: show 2s ease-in-out forwards;
    color: #ca3074;
    animation-delay: 3s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@keyframes lock {
    50% {
        top: -4%;
    }
    100% {
        top: -6%;
    }
}
@keyframes colors {
    50% {
        transform: scale(1.1);
    }
    100% {
        color: #ca3074;
    }
}
@keyframes show {
    100% {
        opacity: 1;
    }
}


/*---------------------------------------------*/
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    /*    outline: none;
        border: none;*/
}

textarea:focus, input:focus .input100 {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder  .input100{ color:transparent; }
input:focus:-moz-placeholder  .input100 { color:transparent; }
input:focus::-moz-placeholder  .input100 { color:transparent; }
input:focus:-ms-input-placeholder .input100 { color:transparent; }

textarea:focus::-webkit-input-placeholder  .input100 { color:transparent; }
textarea:focus:-moz-placeholder  .input100 { color:transparent; }
textarea:focus::-moz-placeholder  .input100 { color:transparent; }
textarea:focus:-ms-input-placeholder  .input100 { color:transparent; }

input::-webkit-input-placeholder  { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.authLoading{
    text-align: center;
    /*position: absolute;*/
    /*    top: 33%;
        right: 34%;*/
}

.container-login100 {
    width: 100%;  
    /*min-height: 105vh;*/
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /*background: #f2f2f2;*/  
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: visible;
    padding: 77px 55px 33px 55px;
    position:relative;

    /*    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);*/

    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}
.login100-form-title i {
    font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}
.wrap-input100.newpassword, .wrap-input100.confpassword {
    margin-bottom: 5px !important;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 35px;
    background: transparent;
    padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
    top: -15px;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    top: -15px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 77px 15px 33px 15px;
    }
    /*  .authLoading{
            text-align: center;
        position: absolute;
        top: 33%;
        right: 34%;
      }*/
}

@media (max-width: 747px) {
    /*  .authLoading{
            text-align: center;
        position: absolute;
        top: 33%;
        right: 23%;
      }*/
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;

    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f05a";
    font-family:  "Font Awesome 5 Free";
    font-size: 16px;
    color: #c80000;
    font-weight: 900;
    display: block;
    position: absolute;
    background-color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.row-deck{
    display: flex;
    flex-wrap: wrap;
}
.stats-card{
    margin-bottom: 10rem;
}

.animated.delay-05s{
    -webkit-animation-delay:0.5s;
    animation-delay:0.5s
}
.zentechChart {
    margin-top: 155px;
}

@media screen and (min-width:992px){
    .naloChart{
        margin-top: 65px;
    }
    .zentechChart{
        margin-top: 220px;
    }
}

@media (min-width:992px){
    .chart-1{
        padding-top: 30px !important;
    }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    border: 1px solid #ced4da !important;
}

.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:60px;
    height:19px;
    margin:8px;
    /*transform:translateY(50%);*/
    position:relative;
}
/* Style Wired */
.slider {
    width: 35px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border-radius:30px;
    box-shadow:0 0 0 2px #777, 0 0 4px #777;
    cursor:pointer;
    border:4px solid transparent;
    overflow:hidden;
    transition:.4s;
}
.slider:before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background: #777;
    border-radius: 30px;
    transform: translateX(0px);
    transition: .4s;;
}

input:checked + .slider:before {
    transform:translateX(15px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}

.swal2-content .otpBox{
    background: #f5f5f5;
    border: 1px solid #d4d4d4;
    width: 50%;
    text-align: center;
    font-style: oblique;
    font-size: 18px;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-link{
    color: red;
}

#pswd_info {
    position: absolute;
    top: -50px;
    width: 250px;
    padding: 0px 0px 0px 0px;
    background: #fefefe;
    font-size: .85em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    z-index: 12;
    display:none;

}
#pswd_info h6 {
    font-weight: normal;
    text-align: center;
    color: chocolate;
    margin: 0;
    padding: 8px 14px;
    font-size: 15px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

#pswd_info::before {
    content: "\25B2";
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
    transform: rotateX(180deg);
    position: absolute;
    left: 45%;
    bottom: -12px;
    top:-12px;
}

#pswd_info ul,li{
    /*list-style-type: disc;*/
    margin-left: 5px;
}

.invalid {
    background:url(../img/cross.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:20px;
    color:#ec3f41;
}
.valid {
    background:url(../img/tick.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:20px;
    color:#3a7d34;
}

#password-match{
    color:red; 
    font-size:10px;
    display: none;
}

.strength-meter {
    position: relative;
    height: 3px;
    background: #DDD;
    margin: 5px auto 10px;
    border-radius: 3px;
}

.strength-meter:before,
.strength-meter:after {
    content: '';
    height: inherit;
    background: transparent;
    display: block;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 5px 0 5px;
    position: absolute;
    width: 62px;
    z-index: 10;
}

.strength-meter:before {
    left: 52px;
}

.strength-meter:after {
    right: 52px;
}

.strength-meter-fill {
    background: transparent;
    height: inherit;
    position: absolute;
    width: 0;
    border-radius: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;
}

.strength-meter-fill[data-strength='0'] {
    background: darkred;
    width: 20%;
}

.strength-meter-fill[data-strength='1'] {
    background: orangered;
    width: 40%;
}

.strength-meter-fill[data-strength='2'] {
    background: orange;
    width: 60%;
}

.strength-meter-fill[data-strength='3'] {
    background: yellowgreen;
    width: 80%;
}

.strength-meter-fill[data-strength='4'] {
    background: green;
    width: 100%;
}

#new_mobile_no{
    /*align-items: flex-end;*/
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
}

.ld-ext-right, .ld-ext-left {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
