<div class="top-header-offset"></div>

<div class="container-fluid card-outline-secondary col-sm-3">
    <!--filter query box-->
    <div class="card password-box ml-2 card-outline-secondary" ng-show="showFilterBox">
        <div class="card-header text-center">
            XPORTAL APP USER LOGIN
            <span class="float-right text-danger fa fa-window-close cursor-pointer" ng-click="hideFilterBox()" title="close window"></span>
        </div>
        <div class="card-block font08">
            <div class="pwd-loader create-user" ng-show="pwdLoader">
                <span class="float-right text-danger fa fa-window-close cursor-pointer" ng-click="hidePwdLoader()" title="close window"></span>
                <div class="mt-4"><i class="fa  fa-3x load-icon"></i></div>
                <div class="rsp"><span class="text-primary"> in progress...</span></div>
            </div>
            <form method="post" action="./AppLogin">
                <table class="table borderless">                
                    <tr>
                        <td><label for="username">USER NAME:</label></td>
                        <td><input class="form-control form-control-sm" name="username" ng-model="username" id="username" ng-required="true" /></td>
                    </tr>
                    <tr>
                        <td><label for="password">PASSWORD:</label></td>
                        <td><input type="password" class="form-control form-control-sm" name="password" ng-model="password" id="password" ng-required="true" /></td>
                    </tr>                   
                </table>
                <input type="hidden" name="service" ng-model="service" id="service" value="admin" />
                <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Submit</button>
            </form>
        </div>
    </div>
</div> 