<div class="header-bg" data-ng-init="">
    <div class="container-fluid widget-header">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="row align-items-center" style="justify-content: flex-end;">
                        <div class="row  page-options">

                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('MomoTrxs', 'Mobilemoney', 'momo', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('MomoTrxs', 'Mobilemoney', 'momo', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                            <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('MomoTrxs', 'Mobilemoney', 'momo', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('MomoTrxs', 'Mobilemoney', 'momo', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;&nbsp;
                            <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{getCount(fgRecordsTotalCount)}} </span>

                            <!--<label class="ml-5" for="show-records-select">Show</label>-->
                            <select class=""  id="show-records-select" ng-model="rowsPerPage">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>               
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>   
                            &nbsp;&nbsp;

                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-md-block">
                                <div class="cntr">
                                    <div class="cntr-innr">
                                        <form ng-submit="getRecords('MomoTrxs', 'Mobilemoney', 'momo', 1, 0);" id="momo">
                                            <label class="search" for="inpt_search">
                                                <input id="inpt_search" title="press Enter to search" type="text" placeholder="" ng-model="searchTrxnKey" name="searchKey"/>
                                                <input  type="hidden" name="service" value="updatesearch" />
                                            </label>
                                        </form>
                                    </div>&nbsp;
                                    <span class="fa fa-window-restore" ng-click="toggleFilterBoxView();" style="font-size: 1.5em; color: black; margin-top: 10px;" title="show/hide form" id="filter-card-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>
</div>

<!-- page wrapper start -->
<div class="wrapper" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card reportView">
                    <div class="card-body"> 
                        <!--                        <div class="card filter-box card-block" ng-show="showFilterBox" >
                                                    <div class="card-header">
                                                        <h5 class="font-16 my-0" style="text-align: center;"><i class="fas fa-window-close mr-3 cursor-pointer" style="color: #d9534f;float: right;" ng-click="hideFilterBox();" title="close window"></i>NLA Liquidation Report</h5>
                                                    </div>
                                                    <div class="card-body" style="padding: 0.35rem !important;" >
                                                        <form  ng-submit="getRecords('NlaLiquidityReportTrxs', 'nlaliquidationreport', 'nla', 1, 0);" id="nla">
                                                            <table class="table borderless">
                                                                <tr>
                                                                    <td><label for="start-date">Start Date</label></td>
                                                                    <td> 
                                                                        <div class="input-group input-group-sm">
                                                                            <input type="text" class="form-control form-control-sm" name="startDate" ng-model="startDate" placeholder="Start date" id="start-date" >
                                                                            <div class="input-group-append">
                                                                                <span class="input-group-text fa fa-calendar cursor-pointer" id="start-date-btn"></span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label for="end-date">End Date</label></td>
                                                                    <td>
                                                                        <div class="input-group input-group-sm">
                                                                            <input type="text" class="form-control form-control-sm" name="endDate" ng-model="endDate" placeholder="End date" id="end-date" >
                                                                            <div class="input-group-append">
                                                                                <span class="input-group-text fa fa-calendar cursor-pointer" id="end-date-btn"></span>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                        
                                                                <tr>
                                                                    <td><label for="ticketNumber">Ticket Number</label></td>
                                                                    <td><input class="form-control form-control-sm" name="ticketNumber" ng-model="ticketNumber" id="ticketNumber" /></td>
                                                                </tr>
                        
                                                                <tr>
                                                                    <td><label for="etzReference">Etz Reference</label></td>
                                                                    <td><input class="form-control form-control-sm" name="etzReference" ng-model="etzReference" id="etzReference" /></td>
                                                                </tr>
                        
                                                                <tr>
                                                                    <td><label for="nlaReference">NLA Reference:</label></td>
                                                                    <td><input class="form-control form-control-sm" name="nlaReference" ng-model="nlaReference" id="nlaReference" /></td>
                                                                </tr>
                        
                                                                <tr>
                                                                    <td><label for="mobile">Phone Number:</label></td>
                                                                    <td><input class="form-control form-control-sm" name="mobile" ng-model="mobile" id="mobile" /></td>
                                                                </tr>
                                                                                                        <tr>
                                                                                                            <td><label for="subscriberId">Username:</label></td>
                                                                                                            <td><input class="form-control form-control-sm" name="subscriberId" ng-model="subscriberId" id="subscriberId" /></td>
                                                                                                        </tr>
                                                            </table>
                                                            <input type="hidden" name="service" ng-model="service" id="service" value="nlaliquidationreport" />
                                                            <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Search</button>
                                                        </form>
                                                    </div>
                                                </div>-->
                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                <table id="records-table" class="table">
                                    <thead>
                                        <tr>

                                    <th class="text-left">#</th>

                                                                                        <th class="text-left">VAS ID</th> 
                                                                                        <th class="text-left">ACCT NO</th> 
                                                                                        <th class="text-left">ALIAS</th>  
                                                                                        <th class="text-left">AMOUNT</th>
                                                                                        <th class="text-left">CLIENT REF</th>                                            
                                                                                        <th class="text-left">TRAN DT</th> 
                                                                                        <th class="text-left">RESPONSE CODE</th> 
                                                                                        <th class="text-left">MESSAGE</th> 
                                                                                        <th class="text-left">NARRATION</th>
                                                                                        <th class="text-left">NODE REF</th>
                                                                                        <th class="text-left">NODE RESPONSE</th>
                                                                                        <th class="text-left">PROD ID</th> 
                                                                                        <th class="text-left">VAS REF</th> 
                                                                                        <th class="text-left">SUBSCRIBER</th>                                         
                                                                                        <th class="text-left">THIRD PARTY REF</th> 
                                                                                        <th class="text-left">CHANNEL ID</th>                                          
                                                                                        <th class="text-left">TERMINAL ID</th> 
                                                                                        <th class="text-left">BANK CODE</th> 
                                                                                        <th class="text-left">LINE TYPE</th> 
                                                                                        <th class="text-left">LINE MODE</th> 
                                                                                        <th class="text-left">CLIENT</th> 
                                                                                        <th class="text-left">OTHER INFO</th> 

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-hide="filteredMomoTrxs.length">
                                            <td colspan="8" class="text-center text-danger">No data available - Found[0]</td>
                                        </tr> 
                                        <tr ng-hide="filteredMomoTrxs.length">
                                            <td colspan="8" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                                        </tr> 
                                        <tr class="animate-repeat" ng-repeat="f in filteredMomoTrxs">
                                            <!--                                             ng-class="tmcRowColor(f.status)"-->
                                            <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>

                                                                                       <td class="text-left">{{f.vas_id}}</td>
                                                                                        <td class="text-left">{{f.acct_no}}</td>                                         
                                                                                        <td>{{f.alias}}</td>
                                                                                         <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.amount)}}</td> 
                                                                                        <td>{{f.client_ref}}</td>     
                                                                                        <td>{{f.tran_dt}}</td>   
                                                                                         <td>{{f.response_code}}</td>     
                                                                                       <td>{{f.message}}</td>
                                                                                        <td>{{f.narration}}</td>
                                                                                         <td>{{f.node_ref}}</td>
                                                                                        <td>{{f.node_response}}</td>
                                                                                        <td>{{f.prod_id}}</td>
                                                                                        <td>{{f.vas_ref}}</td>
                                                                                        <td>{{f.subscriber}}</td>
                                                                                        <td>{{f.third_party_ref}}</td>
                                                                                        <td>{{f.channel_id}}</td>
                                                                                        <td>{{f.terminal_id}}</td>
                                                                                        <td>{{f.bank_code}}</td>
                                                                                        <td>{{f.line_type}}</td>
                                                                                        <td>{{f.line_mode}}</td>
                                                                                        <td>{{f.client}}</td>
                                                                                        <td>{{f.other_info}}</td>
                                                                                     
                                                                                       

                                    


                                        </tr>    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
<div class="sticky-container">
    <ul class="sticky">
        <!--        <li class="extend animated slideInRight" ng-show="!(balance.indexOf('n/a') > - 1)" style="justify-content: center">
                    <i class="fa fa-coins fa-2x fa-fw" style="color: #f8ae26;line-height: 45px; margin-left: 4px;"></i>&nbsp; <span>{{balance}}</span>    
                </li>-->
        <!--        <li ng-click="showUploadData()" title="upload as excel">
                    <i class="fa fa-upload fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
                    <i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>
                    <i  class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;"></i>
                </li>-->

        <li ng-click="showUploadData('billandairtimestatuscheck')" title="upload as excel">
            <i class="fa fa-upload fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
            <!--<i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>-->
            <i  class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;"></i>
        </li>
        <li class="download">
            <i class="fa fa-download fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
            <!--<i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>-->
            <i title="download as excel" class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;" ng-click="exportToExcel(MomoTrxs)"></i>
        </li>
        <li on-long-press="autoRefreshReport('getMomoTrxns');" ng-click="refreshReport2('NlaLiquidityReportTrxs', 'nlaliquidationreport', 'nla', 1, 0);">
            <i class="fa fa-sync fa-2x refresh-btn" title="Long press({{timerate / 1000}}sec autoRefresh)" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
        </li>
    </ul>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('NlaLiquidityReportTrxs', 'nlaliquidationreport', 'nla', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('NlaLiquidityReportTrxs', 'nlaliquidationreport', 'nla', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('NlaLiquidityReportTrxs', 'nlaliquidationreport', 'nla', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('NlaLiquidityReportTrxs', 'nlaliquidationreport', 'nla', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;
            </div>
            <div class="col-sm-6">
                <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{getCount(fgRecordsTotalCount)}} </span>

                <select class=""  id="show-records-select" ng-model="rowsPerPage">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>               
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                </select>   
                &nbsp;&nbsp;
            </div>
        </div>
    </div>
</footer>

<script>
    $(function () {
        $('.table-responsive').responsiveTable({});
    });</script>