<div class="limiter" data-ng-init="fetchUserEmail()">
    <div class="container-login100" >
        <div class="wrap-login100 p-t-30 p-b-50 has-overlay animated bounceIn loginForm">
            <div class="overlay">
                <div class ="authLoading animated flipInY" style="display: none;">
                    <div class="circle-loader" >
                        <div class="checkmark error"></div>
                    </div>
                    <div style="text-align: center;"><h5>{{passwordChangeMessage||''}}</h5></div>
                </div>

                <form class="login100-form validate-form animated flipInY authLogin" >	
                    <div id="pswd_info">
                        <h6>Password Requirements</h6>
                        <ul>
                            <li id="password-lowercase" class="invalid">At least <strong>1 lowercase character(s)</strong></li>
                            <li id="password-uppercase" class="invalid">At least <strong>1 uppercase character(s)</strong></li>
                            <li id="password-number" class="invalid">At least <strong>1 number(s)</strong></li>
                            <li id="password-special" class="invalid">At least <strong>1 special character(s)</strong></li>
                            <li id="password-details" class="invalid"><strong>No logon Id or personal name(s)</strong></li>
                            <li id="password-length" class="invalid">At least <strong>12 character(s) long</strong></li>

                        </ul>
                    </div>
                    <div class="wrap-input100 validate-input oldpassword " data-validate="Enter Old password">
                        <span class="btn-show-pass" ng-click="toggleShowPassword('showPassword1');">
                            <i class="fa showPassword1 fa-eye"></i>
                        </span>
                        <input class="input100 oldpassword" type="{{showPassword1}}" ng-model="auth.oldpassword" placeholder="Old Password">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>
                    <div class="wrap-input100 validate-input newpassword " data-validate="Enter New password">
                        <span class="btn-show-pass" ng-click="toggleShowPassword('showPassword2');">
                            <i class="fa showPassword2 fa-eye"></i>
                        </span>
                        <input class="input100 newpassword ok-password" type="{{showPassword2}}" ng-model="auth.newpassword" placeholder="New Password">
                        <span class="focus-input100" data-placeholder=""></span>

                    </div>
                    <div class="strength-meter">
                        <div class="strength-meter-fill" data-strength="{{passwordStrength}}"></div>
                    </div>
                    <strong style="color:red; font-size:10px;">NB: Password should not contain portions of your logon ID, personal names, guessable dates (birthdates or anniversaries), or be constructed around a dictionary word</strong>
                    <div class="wrap-input100 validate-input confpassword " data-validate="Confirm New Password">
                        <span class="btn-show-pass" ng-click="toggleShowPassword('showPassword3');">
                            <i class="fa showPassword3 fa-eye"></i>
                        </span>
                        <input class="input100 confpassword" type="{{showPassword3}}" ng-model="auth.confpassword" placeholder="Confirm Password">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>
                    <strong style="color:red; font-size:10px;" id="password-match">Passwords do not match</strong>

                    <div class="wrap-input100 validate-input email" data-validate ="Enter Valid Email">
                        <input class="input100 email" id="email" type="text" name="email" ng-model="auth.email" placeholder="Email">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn shadow-bottom">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" ng-click="executeDialogAction('changePassword');" ng-cloak="true">
                                Change Password &nbsp; <i class="fa fa-key"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
