<div class="header-bg" >
    <div class="container-fluid widget-header">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="row align-items-center" style="justify-content: flex-end;">
                        <div class="row  page-options">

                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getMerchantTrxn(1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getMerchantTrxn(pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                            <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getMerchantTrxn(pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getMerchantTrxn(fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;&nbsp;
                            <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                            <span class="badge-success badge mr-3 cursor-pointer" title="Total Amount Successful"><i>&#8373;</i>{{fgRecordsTotalAmount}}</span>

                            <!--<label class="ml-5" for="show-records-select">Show</label>-->
                            <select class="" ng-change="reloadMerchantTrxns()" id="show-records-select" ng-model="rowsPerPage">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>               
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>   
                            &nbsp;&nbsp;


                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-md-block">
                                <div class="cntr">
                                    <div class="cntr-innr">
                                        <form ng-submit="getRecords('CscTrxs', 'Csc', 'cscSearch', 1, 0, 'status', '00', 'trans_amount');" id="cscSearch">
                                            <label class="search" for="inpt_search">
                                                <input id="inpt_search" title="press Enter to search"  type="text" placeholder="EtzRef" name="searchKey"/>
                                                <input  type="hidden" name="service" value="search" />
                                            </label>
                                        </form>
                                    </div>&nbsp;
                                    <span class="fa fa-window-restore" ng-click="toggleFilterBoxView();" style="font-size: 1.5em; color: black; margin-top: 10px;" title="show/hide form" id="filter-card-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>
</div>

<!-- page wrapper start -->
<div class="wrapper" data-ng-init="initializeSettings('Csc', 'banks', 'bankList', 'bank');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card reportView">
                    <div class="card-body"> 
                        <div class="card filter-box card-block" ng-show="showFilterBox">
                            <div class="card-header">
                                <h5 class="font-16 my-0" style="text-align: center;"><i class="fas fa-window-close mr-3 cursor-pointer" style="color: #d9534f;float: right;" ng-click="hideFilterBox();" title="close window"></i>Csc Report</h5>
                            </div>
                            <div class="card-body" style="padding: 0.35rem !important;" >
                                <form ng-submit="getRecords('CscTrxs', 'Csc', 'csc', 1, 0, 'status', '00', 'trans_amount');" id="csc">
                                    <table class="table borderless">
                                        <tr>
                                            <td><label for="start-date">Start Date</label></td>
                                            <td> 
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control form-control-sm" name="startDate" ng-model="startDate" placeholder="Start date" id="start-date" >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text fa fa-calendar cursor-pointer" id="start-date-btn"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="end-date">End Date</label></td>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control form-control-sm" name="endDate" ng-model="endDate" placeholder="End date" id="end-date" >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text fa fa-calendar cursor-pointer" id="end-date-btn"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="uniqueTransId">Etz Reference:</label></td>
                                            <td><input class="form-control form-control-sm" name="uniqueTransId" ng-model="uniqueTransId" id="uniqueTransId" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="from_source">Source Account:</label></td>
                                            <td><input class="form-control form-control-sm" name="from_source" ng-model="from_source" id="from_source" /></td>
                                        </tr>
                                        <tr ng-show="bankList.length > 0">
                                            <td><label for="bank">Bank:</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="bank" ng-model="bank" id="bank" ng-change="initializeSettings('MerchantPay', 'merchants', 'merchantList', 'bank');"> 
                                                    <option value="ALL">ALL</option>
                                                    <option ng-repeat="option in bankList" value="{{option.issuer_code}}">{{option.issuer_name}}</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><label for="trans_type">Trans Type</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="trans_type" ng-model="trans_type" id="trans_type" ng-init="trans_type = 'ALL'">
                                                    <option value="ALL">ALL</option>
                                                    <option value="mobilemoney">MOBILEMONEY</option>
                                                </select>    
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="status">Status</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="status" ng-model="status" id="status">
                                                    <option value="ALL">ALL</option>
                                                    <option value="SUCCESSFUL">SUCCESSFUL</option>
                                                    <option value="FAILED">FAILED</option>
                                                    <option value="PENDING">PENDING</option>
                                                </select>       
                                            </td>
                                        </tr>
                                    </table>
                                    <input type="hidden" name="service" ng-model="service" id="service" value="transactions" />
                                    <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                <table id="records-table" class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">REFERENCE</th> 
                                            <th class="text-center">SOURCE ACCOUNT</th>
                                            <th class="text-center">DEST ACCOUNT</th>
                                            <th class="text-center">DEST TYPE</th>
                                            <th class="text-center">AMOUNT</th>
                                            <th class="text-center">TRANS STATUS</th>
                                            <th class="text-center">TRANS DATE</th>
                                            <th class="text-center">IS REPROCESSED</th> 
                                            <th class="text-center">REPROCESS REFERENCE</th> 
                                            <th class="text-center">IS REVERSED</th>
                                            <th class="text-center">STATUS</th>
                                            <th class="text-center">PROCESS DATE</th>   
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-hide="filteredCscTrxs.length">
                                            <td colspan="13" class="text-center text-danger">No data available - Found[0]</td>
                                        </tr> 
                                        <tr ng-hide="filteredCscTrxs.length">
                                            <td colspan="13" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                                        </tr> 
                                        <tr class="animate-repeat" ng-repeat="f in filteredCscTrxs" ng-class="tmcRowColor(f.status)">
                                            <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>
                                            <td class="text-left">{{f.reference}}</td>
                                            <td class="text-left">{{f.source_account}}</td>
                                            <td class="text-left">{{f.dest_account}}</td>
                                            <td class="text-left">{{f.dest_type}}</td>
                                            <td class="text-right"> <small><i>&#8373;</i></small>{{getAmt(f.amount)}}</td>   
                                            <td class="text-center" >{{f.trans_status}}</td> 
                                            <td>{{f.trans_date}}</td>   
                                            <td class="text-center">{{f.is_reprocessed}}</td>
                                            <td class="text-left">{{f.reprocess_reference}}</td>   
                                            <td class="text-center">{{f.is_reversed}}</td>   
                                            <td title="{{f.status_description}}" class="text-center">{{f.status}}</td>
                                            <td class="text-left">{{f.process_date}}</td>      
                                        </tr>     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
<div class="sticky-container">
    <ul class="sticky">
        <!--        <li class="extend animated slideInRight" ng-show="!(balance.indexOf('n/a') > -1)" style="justify-content: center">
                    <i class="fa fa-coins fa-2x fa-fw" style="color: #f8ae26;line-height: 45px; margin-left: 4px;"></i>&nbsp; <span>{{balance}}</span>    
                </li>-->
        <li class="download">
            <i class="fa fa-download fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
            <!--<i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>-->
            <i title="download as excel" class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;" ng-click="exportToExcel(CscTrxs)"></i>
        </li>
        <li on-long-press="autoRefreshReport('getMerchantTrxn');" ng-click="refreshReport('reloadMerchantTrxns');">
            <i class="fa fa-sync fa-2x refresh-btn" title="Long press({{timerate / 1000}}sec autoRefresh)" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
        </li>
    </ul>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getMerchantTrxn(1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getMerchantTrxn(pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getMerchantTrxn(pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getMerchantTrxn(fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;
            </div>
            <div class="col-sm-6">
                <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                <span class="badge-success badge mr-3 cursor-pointer" title="Total Amount Successful"><i>&#8373;</i>{{fgRecordsTotalAmount}}</span>
                <select class="" ng-change="reloadMerchantTrxns()" id="show-records-select" ng-model="rowsPerPage">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>               
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                </select>   
                &nbsp;&nbsp;
            </div>
        </div>
    </div>
</footer>

<script>
    $(function () {
        $('.table-responsive').responsiveTable({});
    });</script>