<div class="header-bg">
    <div class="container-fluid widget-header">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <!--start-->
                    <!--                     <span class="fa fa-window-restore" ng-click="toggleFilterBoxView();" style="font-size: 1.5em; color: black; margin-top: 20px;"  title="show/hide form" id="filter-card-btn"></span>-->
                    <!--end-->
                    <div class="row align-items-center" style="justify-content: flex-end;">
                        <div class="row  page-options">
                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('NlaReversalTrxs', 'nlaliquidationreport', 'nlatrans', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('NlaReversalTrxs', 'nlaliquidationreport', 'nlatrans', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                            <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('NlaReversalTrxs', 'nlaliquidationreport', 'nlatrans', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('NlaReversalTrxs', 'nlaliquidationreport', 'nlatrans', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;&nbsp;
                            <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                            <!--<span class="badge-success badge mr-3 cursor-pointer" title="Total Amount Successful"><i>&#8373;</i>{{fgRecordsTotalAmount}}</span>-->

                            <label class="ml-5" for="show-records-select">Show</label>
                            <select class=""  id="show-records-select" ng-model="rowsPerPage">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>               
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>   
                            &nbsp;&nbsp;

                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-md-block">
                                <div class="cntr">
<!--                                    <button id="reverse-btn" title="initiate reversal for authorization" class="btn btn-primary btn-sm  sm-btn cursor-pointer" style="color: black; margin-top: -10px; margin-right: 8px; cursor: pointer;" ng-click="nlaReversalSelected('initiate', 'NlaReversalTrxs')">INSERT</button>-->

                                    <div class="cntr-innr">
                                        <form ng-submit="getRecords('NlaReversalTrxs', 'nlaliquidationreport', 'nlatrans', 1);">
                                            <label class="search" for="inpt_search">
                                                <input id="inpt_search" title="press Enter to search" type="text" name="searchKey" placeholder="" ng-model="searchTrxnKey" />
                                                <input  type="hidden" name="service" value="search" />
                                            </label>
                                        </form>
                                    </div>&nbsp;

                                    <span class="fa fa-window-restore" ng-click="toggleFilterBoxView();" style="font-size: 1.5em; color: black; margin-top: 10px;" title="show/hide form" id="filter-card-btn"></span>    
                                </div>
                            </div>
                            <!--                             <h1 style="">Hello world</h1>-->
<!--                            <span class="fa fa-window-restore" ng-click="openMyFilterBoxView();" style="font-size: 1.5em; color: black; margin-top: 10px;margin-left:-750px" title="show/hide form" id="filter-card-btn">Card Balance</span>-->
                            <span class="" ng-click="openMyFilterBoxView();" style="font-size: 1.0em; color: blue; margin-top: 10px;margin-left:-750px" title="show/hide form" id="filter-card-btn">Card Balance</span>    

                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>
</div>

<!--start-->

<!--end-->

<!--<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4>
    <p>Architect & Engineer</p>
  </div>
</div>-->

<!--<div class="col-lg-6 mb-4"></div>-->



<!-- page wrapper start -->
<div class="wrapper" data-ng-init="initializeSettings('Mobilemoney', 'banks', 'banksList'); initializeSettings('Mobilemoney', 'networks', 'networkList'); initializeSettings('fundstransfer', 'sourceaccounts', 'sourceaccountList'); initializeSettings('fundstransfer', 'accounts', 'accountList');  initializeSettings('fundstransfer', 'cardbalance', 'cardBalanceList');" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card reportView">
                    <div class="card-body"> 
                        <div class="card filter-box card-block" ng-show="showFilterBox">
                            <div class="card-header">
                                <h5 class="font-16 my-0" style="text-align: center;"><i class="fas fa-window-close mr-3 cursor-pointer" style="color: #d9534f;float: right;" ng-click="hideFilterBox();" title="close window"></i>INITIATE</h5>
                            </div>
                            <div class="card-body" style="padding: 0.35rem !important;" >
<!--                                <form ng-submit="getRecords('NLATrxs', 'Reversal', 'reversal', 1);" id="reversal">-->
                                    <form ng-submit="fundstransferSelected('FundsTransferTrxs', 'fundstransfer', 'fundstransfertrans', 1, 0);" id="fundstransfertrans">

                                        <table class="table borderless">
<!--                                            <tr>
                                                <td><label for="start-date">Start Date</label></td>
                                                <td> 
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control form-control-sm" name="startDate" ng-model="startDate" placeholder="Start date" id="start-date" >
                                                        <div class="input-group-append">
                                                            <span class="input-group-text fa fa-calendar cursor-pointer" id="start-date-btn"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label for="end-date">End Date</label></td>
                                                <td>
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control form-control-sm" name="endDate" ng-model="endDate" placeholder="End date" id="end-date" >
                                                        <div class="input-group-append">
                                                            <span class="input-group-text fa fa-calendar cursor-pointer" id="end-date-btn"></span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>-->

<!--                                            <tr  ng-show="accountList.length > 0" class="animate-repeat" ng-repeat="x in cardBalanceList"> 
                                                <td><label for="sourceCard">Source Cards</label></td>
                                                <td>
                                                    <select class="form-control form-control-sm" name="sourceCard" id="sourceCard">
                                                        <option value="ALL">ALL</option>        
                                                        <option ng-repeat="option in accountList" value="{{option.account_name}}">{{option.account_name}}</option>   
                                                    </select>    
                                                </td>

                                                <td>{{x.account_name}}</td>
                                                <td>{{x.balance}}</td>

                                            </tr>-->


                                            <tr  ng-show="sourceaccountList.length > 0"> 
                                                <td><label for="sourceCard">Source Card</label></td>
<!--                                                <td><label for="sourceCard"></label></td>-->
                                                <td>
                                                    <select class="form-control form-control-sm" name="sourceCard" id="sourceCard">
                                                        <option value="ALL">Select</option>        
                                                        <option ng-repeat="option in sourceaccountList" value="{{option.account_name}}">{{option.account_name}}</option>   
                                                    </select>    
                                                </td>
                                            </tr>

                                            <tr ng-show="accountList.length > 0">
                                                <td><label for="amount">Enter Amount:</label></td>
                                                <td><input ng-required="true" class="form-control form-control-sm" name="amount" ng-model="amount" id="amount"  ng-required="true"/></td>
                                            </tr>
                                            <tr  ng-show="accountList.length > 0"> 
                                                <td><label for="destinationBank">Destination Bank:</label></td>
                                                <td>
                                                    <select class="form-control form-control-sm" name="destinationBank" id="destinationBank">
                                                        <option value="ALL">ALL</option>        
                                                        <option ng-repeat="option in accountList" value="{{option.account_type}}">{{option.account_type}}</option>   
                                                    </select>    
                                                </td>
                                            </tr>
                                            <tr ng-show="accountList.length > 0"> <!--ng-show="banksList.length > 1"-->
                                                <td><label for="bank">Bank</label></td>
                                                <td>
                                                    <select class="form-control form-control-sm" name="bank" id="bank">  <!--ng-model="bank" id="banks"  data-ng-init ="bank = 'ALL'"-->
                                                        <option value="N/A">N/A</option> 
<!--                                                        <option ng-repeat="option in banksList" value="{{option.issuer_code}}">{{option.issuer_name}}</option>                                  -->
                                                        <option ng-repeat="option in banksList" value="{{option.issuer_name}}">{{option.issuer_name}}</option> 
                                                    </select>    
                                                </td>
                                            </tr>
                                            <tr ng-show="accountList.length > 0"> <!--ng-show="networkList.length-->
                                                <td><label for="network">Network:</label></td>
                                                <td>
                                                    <select class="form-control form-control-sm" name="network" id="network">
                                                        <option value="N/A">N/A</option>       
                                                        <option ng-repeat="option in networkList" value="{{option.issuer_code}}">{{option.issuer_name}}</option>   
                                                    </select>    
                                                </td>
                                            </tr>
<!--                                            <tr>
                                                <td><label for="network">Select Network:</label></td>
                                                <td>
                                                    <select class="form-control form-control-sm" name="network"  id="network">                                                   
                                                        <option value="MTN">MTN</option>                                                    
                                                        <option value="VODAFONE">VODAFONE</option>  
                                                        <option value="TIGO">TIGO</option>
                                                        <option value="BANKACCOUNT">BANK ACCOUNT</option> 
                                                        <option value="GHLINKCARD">GHLINKCARD</option>
                                                    </select>    
                                                </td>
                                            </tr> -->
<!--                                            <tr>
                                                <td><label for="destinationAccount">Select Destination Account</label></td>
                                                <td><input ng-required="true" class="form-control form-control-sm" name="destinationAccount" ng-model="destinationAccount" id="destinationAccount"  ng-required="true"/></td>
                                                <td>
                                                    <select class="form-control form-control-sm" name="destinationAccount"  id="destinationAccount">                                                
                                                        <option value="0068860000010121">0068860000010121</option>  
                                                        <option value="233243314725">233243314725</option>  
                                                        <option value="00601234567892">00601234567892</option>  
                                                    </select>    
                                                </td>
                                            </tr>-->
                                            <tr  ng-show="accountList.length > 0"> 
                                                <td><label for="destinationAccount">Destination Account</label></td>
                                                <td>
                                                    <select class="form-control form-control-sm" name="destinationAccount" id="destinationAccount">
                                                        <option value="ALL">ALL</option>        
                                                        <option ng-repeat="option in accountList" value="{{option.account_name}}">{{option.account_name}}</option>   
                                                    </select>    
                                                </td>
                                            </tr>

                                            <tr ng-show="accountList.length > 0">
                                                <td><label for="narration">Enter Narration:</label></td>
                                                <td><input ng-required="true" class="form-control form-control-sm" name="narration" ng-model="narration" id="narration"  ng-required="true"/></td>
                                            </tr>
                                        </table>
                                        <input type="hidden" name="service" ng-model="service" id="service" value="insertdatatrans" />
                                        <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Send</button>
                                    </form>
                            </div>
                        </div>     

                        <!--start filter box-->
                        <div class="card my-filter-box card-block" ng-show="showMyFilterBox">
                            <div class="card-header">
                                <h5 class="font-16 my-0" style="text-align: center;"><i class="fas fa-window-close mr-3 cursor-pointer" style="color: #d9534f;float: right;" ng-click="hideFilterBox();" title="close window"></i>ETZ CARDS</h5>
                            </div>
                            <div class="card-body" style="padding: 0.35rem !important;" >
                                <!--                                <form ng-submit="getRecords('NLATrxs', 'Reversal', 'reversal', 1);" id="reversal">-->
                                <form ng-submit="fundstransferSelected('FundsTransferTrxs', 'fundstransfer', 'fundstransfertrans', 1, 0);" id="fundstransfertrans">

                                    <table class="table borderless">

                                        <thead>
                                            <tr>
                                                <th>ETRANZACT Card</th>
                                                <th>Balance (GHS)</th>
                                            </tr>  
                                        </thead>


                                        <tr  ng-show="accountList.length > 0" class="animate-repeat" ng-repeat="x in cardBalanceList"> 
                                            <!--                                                                                                                                <td><label for="sourceCard">Source Cards</label></td>
                                                                                                                                                                                                        <td>
                                                                                                                                                                                                        <select class="form-control form-control-sm" name="sourceCard" id="sourceCard">
                                                                                                                                                                                                        <option value="ALL">ALL</option>        
                                                                                                                                                                                                        <option ng-repeat="option in accountList" value="{{option.account_name}}">{{option.account_name}}</option>   
                                                                                                                                                                                                        </select>    
                                                                                                                                                                                                        </td>-->

                                            <td>{{x.account_name}}</td>
                                            <td>{{x.balance}}</td>

                                        </tr>

                                    </table>
                                    <input type="hidden" name="service" ng-model="service" id="service" value="insertdatatrans" />
                                    <!--                                    <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Send</button>-->
                                </form>
                            </div>

                        </div>   
                        <!--end filter box-->

                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                <table id="records-table" class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-left">#</th>
                                            <!--                                            <th class="text-left">
                                                                                            <input type="checkbox" name="select" id="chk-all" ng-model="selectAll" ng-change="toggleSelectAll('NlaReversalTrxs')">
                                                                                            Select All</th>-->
                                            <!--                                            <th class="text-left">
                                                                                            <input type="checkbox" name="select" id="chk-all" ng-model="selectAll" ng-change="toggleSelectAll('FundsTransferAuthTrxs')">
                                                                                            Select All</th>-->
                                            <th class="text-center">TRANSACTION REFERENCE</th> 
                                            <th class="text-center">SOURCE CARD</th> 
                                            <th class="text-center">AMOUNT</th>
                                            <!--<th class="text-center">DESTINATION BANK</th>-->
                                            <th class="text-center">DESTINATION</th>
                                            <th class="text-center">NETWORK</th>
                                            <th class="text-center">BANK CODE</th>
                                            <th class="text-center">DESTINATION ACCOUNT</th>  
                                            <th class="text-center">NARRATION</th> 
                                            <th class="text-center">STATUS</th>    
                                            <th class="text-center">RESPONSE CODE</th>   
                                            <th class="text-center">RESPONSE MESSAGE</th>   
                                            <th class="text-center">INITIATED BY</th> 
                                            <th class="text-center">INITIATED DATE</th> 
                                            <th class="text-center">AUTHORIZED BY</th>
                                            <th class="text-center">AUTHORIZED DATE</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-hide="filteredFundsTransferTrxs.length">
                                            <td colspan="13" class="text-center text-danger">No data available - Found[0]</td>
                                        </tr> 
                                        <tr ng-hide="filteredFundsTransferTrxs.length">
                                            <td colspan="13" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                                        </tr> 
                                        <tr class="animate-repeat" ng-repeat="f in filteredFundsTransferTrxs">
                                            <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>
                                            <!--                                            <td><input type="checkbox" name="selection" id="chk-{{f.transid}}" ng-model="selectedData[$index]" ng-value="f" ng-change="toggleSelect($index)"></td>-->
                                            <!--                                            <td><input type="checkbox" name="selection" id="chk-{{f.transid}}" ng-model="selectedData[$index]" ng-value="f" ng-change="toggleSelect('FundsTransferAuthTrxs', $index)"></td>                                                                                    -->
                                            <td class="text-center">{{f.transaction_reference}}</td>
                                            <td class="text-center">{{f.source_card}}</td>
                                            <td class="text-center">{{f.amount}}</td>  
                                            <td class="text-center">{{f.destination_bank}}</td> 
                                            <td class="text-center">{{f.network}}</td> 
                                            <td class="text-center">{{f.bank}}</td> 
                                            <td class="text-center">{{f.destination_account}}</td> 
                                            <td class="text-center">{{f.narration}}</td> 
                                            <td class="text-center">{{f.status}}</td> 
                                            <td class="text-center">{{f.response_code}}</td> 
                                            <td class="text-center">{{f.response_message}}</td> 
                                            <td class="text-center">{{f.initiated_by}}</td>
                                            <td class="text-center">{{f.initiated_date}}</td>
                                            <td class="text-center">{{f.authorized_by}}</td>  
                                            <td class="text-center">{{f.authorized_date}}</td> 
                                            <!--                                            <td class="text-center">{{f.merchant_code}}</td>
                                                                                        <td class="text-right">{{f.fee}}</td>
                                                                                        <td class="text-right">{{f.elevy}}</td>-->
                                            <!--                                            <td class="text-center">{{f.trans_amount}}</td>                      
                                                                                        <td class=""><button id="{{f.id}}" title="initiate reversal for authorization" class="btn btn-primary btn-sm  sm-btn hpy-1 px-3 cursor-pointer" ng-click="reverse(f.id, f.transid, 'ini')">INITIATE</button></td>
                                                                                        <td>{{f.response_code}}</td>
                                                                                        <td class=""><button id="{{f.id}}" disabled title="reversal status" ng-class="{
                                                                                                    'btn-success':f.reversed === 'SUCCESS', 'btn - danger': f.reversed === 'ERROR', 'btn-primary':f.reversed === 'DUPLICATE' }" class="btn  btn-sm  sm-btn hpy-1 px-3 cursor-pointer" ng-if="f.reversed" >{{f.reversed}}</button></td>
                                                                                        <td class="text-left">{{trimJP(f.trans_descr)}}</td>-->
                                            <!--                                            <td>{{f.trans_date}}</td>                 -->
                                        </tr>     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            <div class="col-lg-12 mb-4">
                                            <div class="card">
                                                <img class="card-img-top" src="" alt="">
                                                <div class="card-body">
                                                    <h5 class="card-title">Source Cards</h5>
                                                    <table style="width:50%">
                                                        <caption>Free Coding Resources</caption>
                                                        <thead>
                                                            <tr>
                                                                <th>ETRANZACT Card</th>
                                                                <th>Balance (GHS)</th>
                                                            </tr>
                                                        </thead>
                                                        <tr  ng-show="accountList.length > 0" class="animate-repeat" ng-repeat="x in cardBalanceList"> 
                                                            <td>{{x.account_name}}</td>
                                                            <td>{{x.balance}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
            
            
            
                            <div class='credit-card'>
                                <div class='top-block'>
                                    <div class='card-chip'>
                                        <i class="icon-credit-card icon-3x"></i>
                                    </div>
                                    <span class='card-name'>
                                        Oxygen Pay
                                    </span>
                                </div>
                                <div class='card-number'>
                                    <p>5459 xxxx xxxx 7203</p>
                                </div>
                                <div class='bottom-block'>
                                    <div class='balance'>
                                        <div>Balance</div>
                                        <div class='card-balance'>
                                            $ 8619.98
                                        </div>
                                    </div>
                                    <div class='card-icon'>
                                        <span class='circle-left'>
                                            <i class="icon-circle icon-3x "></i>
                                        </span>
                                        <i class="icon-circle icon-3x"></i>
                                    </div>
                                </div>
                            </div>
            
            
            
                            </div>-->
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
<div class="sticky-container">
    <ul class="sticky">
        <!--        <li ng-click="showUploadData('reversal')" title="upload as excel" >
                    <i class="fa fa-upload fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
                    <i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>
                    <i  class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;"></i>
                </li>-->
        <li class="download">
            <i class="fa fa-download fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
            <!--<i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>-->
            <i title="download as excel" class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;" ng-click="exportToExcel(FundsTransferTrxs)"></i>
        </li>

        <li ng-click="getAllRecords('FundsTransferTrxs', 'fundstransfer')">
            <i class="fa fa-sync fa-2x refresh-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
            <!--<i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>-->
            <!--            <i  class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;"></i>-->
        </li>
        <!--                <li class="download">
                    <i class="fa fa-sync fa-2x refresh-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
                    <i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>
                    <i title="reload page" class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;" ng-click="getRecords('FundsTransferAuthTrxs', 'fundstransfer', 'fundstransfertrans', 1, 0);" id="fundstransfertrans"></i>
                </li>-->
        <!--        <li on-long-press="autoRefreshReport('getMomoTrxns');" ng-click="getRecords('FundsTransferAuthTrxs', 'fundstransfer', 'fundstransfertrans', 1, 0);"  id="fundstransfertrans">
                    <i class="fa fa-sync fa-2x refresh-btn" title="Long press({{timerate / 1000}}sec autoRefresh)" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
                </li>-->
    </ul>
</div>

<script>
    $(function () {
        $('.table-responsive').responsiveTable({});
    });
</script>