<div class="header-bg">
    <div class="container-fluid widget-header">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="row align-items-center" style="justify-content: flex-end;">
                        <div class="row  page-options">
                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('JPTrxs', 'JustPay', 'justpay', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('JPTrxs', 'JustPay', 'justpay', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                            <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('JPTrxs', 'JustPay', 'justpay', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('JPTrxs', 'JustPay', 'justpay', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;&nbsp;
                            <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                            <span class="badge-success badge mr-3 cursor-pointer" title="Total Amount Successful"><i>&#8373;</i>{{fgRecordsTotalAmount}}</span>
                            <span class="badge-dark badge mr-3 cursor-pointer" title="Total Fee"><i>&#8373;</i> {{TmcRecordsTotalFee}} </span>
                            <!--<label class="ml-5" for="show-records-select">Show</label>-->
                            <select class=""  id="show-records-select" ng-model="rowsPerPage">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>               
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>   
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-md-block">
                                <div class="cntr">
                                    <div class="cntr-innr">
                                        <form ng-submit="getRecords('JPTrxs', 'JustPay', 'justpaySearch', 1, 0, 'value_code', '00', 'amount')" id ="justpaySearch">
                                            <label class="search" for="inpt_search">
                                                <input id="inpt_search" title="press Enter to search" type="text" placeholder="" ng-model="searchTrxnKey" name="searchKey" />
                                                <input  type="hidden" name="service" value="search" />
                                            </label>
                                        </form>
                                    </div>&nbsp;
                                    <span class="fa fa-window-restore" ng-click="toggleFilterBoxView();" style="font-size: 1.5em; color: black; margin-top: 10px;" title="show/hide form" id="filter-card-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>
</div>

<!-- page wrapper start -->
<div class="wrapper" data-ng-init="initializeSettings('JustPay', 'merchants', 'merchantList');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card reportView">
                    <div class="card-body"> 
                        <div class="card filter-box card-block" ng-show="showFilterBox">
                            <div class="card-header">
                                <h5 class="font-16 my-0" style="text-align: center;">
                                    <i class="fas fa-window-close mr-3 cursor-pointer" style="color: #d9534f;float: right;" ng-click="hideFilterBox();" title="close window"></i>
                                    Justpay Report
                                </h5>
                            </div>
                            <div class="card-body" style="padding: 0.35rem !important;" >
                                <form ng-submit="getRecords('JPTrxs', 'JustPay', 'justpay', 1, 0, 'value_code', '00', 'amount')" id ="justpay">
                                    <table class="table borderless">
                                        <tr>
                                            <td><label for="start-date">Start Date</label></td>
                                            <td> 
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control form-control-sm" name="startDate" ng-model="startDate" placeholder="Start date" id="start-date" >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text fa fa-calendar cursor-pointer" id="start-date-btn"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="end-date"> End Date</label></td>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control form-control-sm" name="endDate" ng-model="endDate" placeholder="End date" id="end-date" >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text fa fa-calendar cursor-pointer" id="end-date-btn"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="uniqueTransId">Reference:</label></td>
                                            <td><input class="form-control form-control-sm" name="uniqueTransId" ng-model="uniqueTransId" id="uniqueTransId" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="trans_code">Option</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="trans_code" ng-model="trans_code" id="trans_code" ng-init="trans_code = 'ALL'">
                                                    <option value="ALL">All</option> 
                                                    <option value="TRANSFER">Transfer</option> 
                                                    <option value="AIRTIME">Airtime</option> 
                                                    <option value="BILL">Bill</option>          
                                                </select>    
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="transType">Provider</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="transType" ng-model="transType" id="transType" ng-init="transType = 'ALL'">
                                                    <option value="ALL">All</option>  
                                                    <option value="AIRTEL">Airtel</option>
                                                    <option value="GLO">Glo</option>
                                                    <option value="MTN">Mtn</option>
                                                    <option value="TIGO">Tigo</option>
                                                    <option value="VODAFONEGH">Vodafone</option>
                                                </select>    
                                            </td>
                                        </tr>
                                        <tr ng-show="(merchantList.length > 1)">
                                            <td>
                                                <label for="merchant-select">Merchant</label>
                                            </td>
                                            <td>
                                                <select class="form-control form-control-sm" name="merchant" ng-model="merchant" id="merchant-select" ng-init="merchant = 'ALL'">
                                                    <option value="ALL">All</option>
                                                    <option ng-repeat="option in merchantList" value="{{option.id}}">{{option.name}}</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><label for="source">Source Number:</label></td>
                                            <td><input class="form-control form-control-sm" name="source"  id="source" /></td>
                                        </tr>
                                        <tr >
                                            <td><label >Destination Number:</label></td>
                                            <td><input class="form-control form-control-sm" name="destination"  id="destination" /></td>
                                        </tr>
                                        <tr ng-show="testEtz()" >
                                            <td><label >Shortcode: </label></td>
                                            <td><input class="form-control form-control-sm" name="shortcode"  id="shortcode" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="trans_status">Status</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="trans_status" ng-model="trans_status" id="trans_status" ng-init="trans_status = 'ALL'">
                                                    <option value="ALL">All</option>
                                                    <option value="0">Successful</option>
                                                    <option value="FAILED">Failed</option>
                                                </select>    
                                            </td>
                                        </tr>
                                    </table>
                                    <input type="hidden" name="service" ng-model="service" id="service" value="transactions" />
                                    <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                <table id="records-table" class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-left">#</th>
                                            <th class="text-left">REFERENCE</th> 
                                            <th class="text-left">EXTERNAL ID</th> 
                                            <th class="text-left">VASTYPE</th>
                                            <th class="text-left">ORIGINATOR</th>
                                            <th class="text-left">ORIG MSISDN</th>  
                                            <th class="text-left">DEST TYPE</th>
                                            <th class="text-left">DEST ACCT</th>
                                            <th class="text-left">AMOUNT</th> 
                                            <th class="text-left">FEE</th> 
                                            <th class="text-left">WALLET DEBIT RESPONSE</th>
                                            <th class="text-right">BILLER'S RESPONSE</th> 
                                            <th class="text-left">TRANS DATE</th>
                                            <th class="text-left">REVERSAL</th>    
                                        </tr>
                                    </thead>
                                    <tbody class="table-font">
                                        <tr ng-hide="filteredJPTrxs.length">
                                            <td colspan="14" class="text-center text-danger">No data available - Found[0]</td>
                                        </tr> 
                                        <tr ng-hide="filteredJPTrxs.length">
                                            <td colspan="14" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                                        </tr> 
                                        <tr  ng-repeat="f in filteredJPTrxs" ng-class="jpRowColor(f.value_code, f.callback_msg)">
                                            <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>
                                            <td class="text-left">{{f.reference}}</td>        
                                            <td>{{f.clientid}}</td>
                                            <td class="text-uppercase">{{f.mainoptions}}</td>
                                            <td class="text-uppercase">{{f.provider}}</td>
                                            <td class="">{{f.mmno}}</td>
                                            <td class="text-uppercase">{{f.vastype}}</td>
                                            <td class="text-left" >{{f.destacct}}</td>
                                            <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.amount)}}</td>
                                            <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.fee)}}</td>
                                            <td class="text-left" title="{{f.callback_msg}}">{{trimJP(f.callback_msg)}}</td>
                                            <td title="{{getValueCodeMsgMapping2(f.value_code, f.value_msg, f.callback_msg)}}" class="text-right">{{trimJP(getValueCodeMsgMapping2(f.value_code, f.value_msg, f.callback_msg))}}</td>
                                            <td>{{f.created_date| date:'dd/MM/yy @ HH:mm:ss'}}</td>
                                            <td class="text-right">{{getFlagMessage(f.flag)}}</td>                                                         
                                        </tr>                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
<div class="sticky-container">
    <ul class="sticky">
        <!--        <li class="extend animated slideInRight" ng-show="!(balance.indexOf('n/a') > - 1)" style="justify-content: center">
                    <i class="fa fa-coins fa-2x fa-fw" style="color: #f8ae26;line-height: 45px; margin-left: 4px;"></i>&nbsp; <span>{{balance}}</span>    
                </li>-->
        <li class="download">
            <i class="fa fa-download fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
            <!--<i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>-->
            <!--<i title="download as excel" class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;" ng-click="exportToExcel(MerchantTrxs)"></i>-->
            <i title="download as excel" class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;" ng-click="exportToExcel(JPTrxs)"></i>
        </li>
        <li on-long-press="autoRefreshReport('getJustPayTrxns');" ng-click="refreshReport2('JPTrxs', 'JustPay', 'justpay', 1, 0, 'value_code', '00', 'amount');">
            <i class="fa fa-sync fa-2x refresh-btn" title="Long press({{timerate / 1000}}sec autoRefresh)" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
        </li>
    </ul>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('JPTrxs', 'JustPay', 'justpay', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('JPTrxs', 'JustPay', 'justpay', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('JPTrxs', 'JustPay', 'justpay', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('JPTrxs', 'JustPay', 'justpay', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;
            </div>
            <div class="col-sm-6">
                <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                <span class="badge-success badge mr-3 cursor-pointer" title="Total Amount Successful"><i>&#8373;</i>{{fgRecordsTotalAmount}}</span>
                <select class=""  id="show-records-select" ng-model="rowsPerPage">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>               
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                </select>   
                &nbsp;&nbsp;
            </div>
        </div>
    </div>
</footer>

<script>
    $(function () {
        $('.table-responsive').responsiveTable({});
    });</script>