<div class="header-bg" >
    <div class="container-fluid widget-header">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="row align-items-center" style="justify-content: flex-end;">
                        <div class="row  page-options">

                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                            <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;&nbsp;
                            <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                            <span class="badge-success badge mr-3 cursor-pointer" title="Total Amount Successful"><i>&#8373;</i>{{fgRecordsTotalAmount}}</span>

                            <!--<label class="ml-5" for="show-records-select">Show</label>-->
                            <select class=""  id="show-records-select" ng-model="rowsPerPage">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>               
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>   
                            &nbsp;&nbsp;


                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-md-block">
                                <div class="cntr">
                                    <div class="cntr-innr">
                                        <form ng-submit="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'maSearch', 1, 0, 'status', 'SUCCESS', 'total');" id="maSearch">
                                            <label class="search" for="inpt_search">
                                                <input id="inpt_search" title="press Enter to search"  type="text" placeholder="EtzRef" name="searchKey"/>
                                                <input  type="hidden" name="service" value="mobileAppTransactionsSearch" />
                                            </label>
                                        </form>
                                    </div>&nbsp;
                                    <span class="fa fa-window-restore" ng-click="toggleFilterBoxView();" style="font-size: 1.5em; color: black; margin-top: 10px;" title="show/hide form" id="filter-card-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>
</div>

<!-- page wrapper start -->
<div class="wrapper" data-ng-init="initializeSettings('MobileAppMgmt', 'transCategory', 'catList', 'all');
        initializeSettings('MobileAppMgmt', 'banks', 'banksList', 'all');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card reportView">
                    <div class="card-body"> 
                        <div class="card filter-box card-block" ng-show="showFilterBox" ng-init="record = 'new'">
                            <div class="card-header">
                                <h5 class="font-16 my-0" style="text-align: center;"><i class="fas fa-window-close mr-3 cursor-pointer" style="color: #d9534f;float: right;" ng-click="hideFilterBox();" title="close window"></i>App Transactions Report</h5>
                            </div>
                            <div class="card-body" style="padding: 0.35rem !important;" >
                                <form ng-submit="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', 1, 0, 'status', 'SUCCESS', 'total');" id="mpay">
                                    <table class="table borderless">
                                        <tr>
                                            <td><label for="start-date">Start Date</label></td>
                                            <td> 
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control form-control-sm" name="startDate" ng-model="startDate" placeholder="Start date" id="start-date" >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text fa fa-calendar cursor-pointer" id="start-date-btn"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="end-date">End Date</label></td>
                                            <td>
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control form-control-sm" name="endDate" ng-model="endDate" placeholder="End date" id="end-date" >
                                                    <div class="input-group-append">
                                                        <span class="input-group-text fa fa-calendar cursor-pointer" id="end-date-btn"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="uniqueTransId">Reference:</label></td>
                                            <td><input class="form-control form-control-sm" name="uniqueTransId" ng-model="uniqueTransId" id="uniqueTransId" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="from_source">Mobile No:</label></td>
                                            <td><input class="form-control form-control-sm" name="mobile_no" ng-model="mobile_no" id="mobile_no" /></td>
                                        </tr>
                                        <tr ng-if="banksList.length > 1">
                                            <td>
                                                <label for="bank_code">Bank</label>
                                            </td>
                                            <td>
                                                <select class="form-control form-control-sm" name="bank_code" ng-model="bank_code" id="bank_code" ng-init="bank_code = 'ALL'">
                                                    <option value="ALL">ALL</option>
                                                    <option ng-repeat="option in banksList" value="{{option.issuer_code}}">{{option.issuer_name}}</option>   
                                                </select>
                                            </td>
                                        </tr>
                                        <tr ng-show="(catList.length > 1)" >
                                            <!--<tr ng-show="testEtz() || testMerchantPayAll()">-->
                                            <td><label for="merchant">Category</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="type" ng-model="merchant" id="merchant" 
                                                        ng-change="initializeSettings('MobileAppMgmt', 'products', 'typeList', 'merchant');">
                                                    <option value="ALL">ALL</option>
                                                    <option ng-repeat="option in catList" value="{{option.id}}">{{option.name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr ng-show="(typeList.length > 1)" ng-init="product = 'ALL'" >
                                            <td><label for="product">Type</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="trans_code" ng-model="product" id="product">
                                                    <option value="ALL">ALL</option>
                                                    <option ng-repeat="option in typeList" value="{{option.id}}" ng-if="typeList.length > 0">{{option.name}}</option>
                                                </select>    
                                            </td>
                                        </tr>
                                        <!--                                        <tr ng-show="(codeList.length > 0)" ng-init="servicecode = 'ALL'">
                                                                                    <tr ng-show="testEtz() || testMerchantPayAll()">
                                                                                    <td><label for="servicecode">Service Code</label></td>
                                                                                    <td>
                                                                                        <select class="form-control form-control-sm" name="servicecode" ng-model="servicecode" id="servicecode">
                                                                                            <option value="ALL">ALL</option>
                                                                                            <option ng-repeat="option in codeList" value="{{option.id}}">{{option.name}}</option>
                                                                                        </select>
                                                                                    </td>
                                                                                </tr>-->
                                        <tr>
                                            <td><label for="status">Status</label></td>
                                            <td>
                                                <select class="form-control form-control-sm" name="status" ng-model="status" id="status">
                                                    <option value="ALL">ALL</option>
                                                    <option value="PENDING">PENDING</option>
                                                    <option value="SUCCESS">SUCCESSFUL</option>
                                                    <option value="FAILED">FAILED</option>
                                                </select>       
                                            </td>
                                        </tr>
                                    </table>
                                    <input type="hidden" name="service" ng-model="service" id="service" value="mobileAppTransactions" />
                                    <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                <table id="records-table" class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">REFERENCE</th> 
                                            <th class="text-center" ng-show="testEtz()">BANK</th> 
                                            <th class="text-center">SOURCE</th> 
                                            <th class="text-center">SOURCE NUMBER</th>
                                            <th class="text-center">CUSTOMER NUMBER</th>
                                            <th class="text-center">DESTINATION NUMBER</th>
                                            <th class="text-center">BENEFICIARY NAME</th>
                                            <th class="text-center">AMOUNT</th>
                                            <th class="text-center">TRANSACTION CATEGORY</th>
                                            <th class="text-center">TRANSACTION TYPE</th>
                                            <th class="text-center">FEES</th> 
                                            <th class="text-center">TOTAL</th> 
                                            <th class="text-center">STATUS</th> 
                                            <th class="text-center">STATUS MESSAGE</th> 
                                            <th class="text-center">TRANSACTION DATE</th>                               
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-hide="filteredMobileAppTrxs.length">
                                            <td colspan="16" class="text-center text-danger">No data available - Found[0]</td>
                                        </tr> 
                                        <tr ng-hide="filteredMobileAppTrxs.length">
                                            <td colspan="16" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                                        </tr> 
                                        <tr class="animate-repeat" ng-repeat="f in filteredMobileAppTrxs" ng-class="jpRowColor(f.statusCode, f.status)">
                                            <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>
                                            <td class="text-left">{{f.reference}}</td>
                                            <td class="text-left" ng-show="testEtz()">{{f.bank}}</td>
                                            <td class="text-left">{{f.source}}</td>
                                            <td class="text-left">{{f.sourceNumber}}</td>
                                            <td class="text-left">{{f.customerNumber}}</td>
                                            <td class="text-right">{{f.destinationNumber}}</td>
                                            <td title="{{f.beneficiaryName}}">{{trimJP(f.beneficiaryName)}}</td>   
                                            <td class="text-center"><small><i>&#8373;</i></small>{{getAmt(f.amount)}}</td>
                                            <td>{{f.transactionCategory}}</td> 
                                            <td class="text-right">{{f.transactionType}}</td>   
                                            <td class="text-center"><small><i>&#8373;</i></small>{{getAmt(f.fees)}}</td>  
                                            <td class="text-center"><small><i>&#8373;</i></small>{{getAmt(f.total)}}</td>
                                            <td class="text-center">{{f.status}}</td>   
                                            <td class="text-center" title ="{{f.statusMessage}}">{{trimJP(f.statusMessage)}}</td>   
                                            <td class="text-right">{{f.transactionDate}}</td>                                                    
                                        </tr>     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
<div class="sticky-container">
    <ul class="sticky">
        <!--        <li class="extend animated slideInRight" ng-show="!(balance.indexOf('n/a') > -1)" style="justify-content: center">
                    <i class="fa fa-coins fa-2x fa-fw" style="color: #f8ae26;line-height: 45px; margin-left: 4px;"></i>&nbsp; <span>{{balance}}</span>    
                </li>-->
        <li class="download">
            <i class="fa fa-download fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
            <!--<i title="download as pdf" class="fa fa-file-pdf fa-2x fa-fw" style="color:#df212b; line-height: 45px; margin-left: 7px;" href="./reports/ExportReport?report=fundgate&action=pdf&start={{startDate}}&end={{endDate}}"></i>-->
            <i title="download as excel" class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;" ng-click="exportToExcel(MobileAppTrxs)"></i>
        </li>
        <li  ng-click="refreshReport2('MobileAppTrxs', 'MobileAppMgmt', 'mpay', 1, 0, 'transactionStatus', '0', 'total');">
            <i class="fa fa-sync fa-2x refresh-btn" title="Long press({{timerate / 1000}}sec autoRefresh)" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
        </li>
    </ul>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('MobileAppTrxs', 'MobileAppMgmt', 'mpay', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;
            </div>
            <div class="col-sm-6">
                <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                <span class="badge-success badge mr-3 cursor-pointer" title="Total Amount Successful"><i>&#8373;</i>{{fgRecordsTotalAmount}}</span>
                <select class=""  id="show-records-select" ng-model="rowsPerPage">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>               
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                </select>   
                &nbsp;&nbsp;
            </div>
        </div>
    </div>
</footer>

<script>
    $(function () {
        $('.table-responsive').responsiveTable({});
    });</script>