<div class="header-bg" id="stt">
    <div class="container-fluid widget-header">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="row align-items-center" style="justify-content: flex-end;">
                        <div class="row  page-options">

                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('PbcRecs', 'Pbc', 'pbc', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('PbcRecs', 'Pbc', 'pbc', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                            <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('PbcRecs', 'Pbc', 'pbc', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('PbcRecs', 'Pbc', 'pbc', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;&nbsp;
                            <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                            <!--<label class="ml-5" for="show-records-select">Show</label>-->
                            <select class="" ng-change="refreshReport('getUsers')" id="show-records-select" ng-model="rowsPerPage">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>               
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>   
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-md-block">
                                <div class="cntr">

                                    <span class="fa fa-window-restore" ng-click="toggleFilterBoxView();" style="font-size: 1.5em; color: black; margin-top: 10px;" title="show/hide form" id="filter-card-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- page wrapper start -->
<div class="wrapper" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card reportView">
                    <div class="card-body"> 
                        <div class="card filter-box card-block" ng-show="showFilterBox">
                            <div class="card-header">
                                <h5 class="font-16 my-0" style="text-align: center;"><i class="fas fa-window-close mr-3 cursor-pointer" style="color: #d9534f;float: right;" ng-click="hideFilterBox();" title="close window"></i>Pbc Accounts</h5>
                            </div>
                            <div class="card-body" style="padding: 0.35rem !important;" >
                                <form ng-submit="getRecords('PbcRecs', 'Pbc', 'pbc', 1);"  id="pbc">
                                    <table class="table borderless">
                                        <tr>
                                            <td><label for="mobile_number">Id &#x02116;</label></td>
                                            <td><input class="form-control form-control-sm" name="from_source" ng-model="mobile_number" id="mobile_number" /></td>
                                        </tr>

                                    </table>
                                    <input type="hidden" name="service" ng-model="service" id="service" value="cardholderEnquiry" />
                                    <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="table-rep-plugin">
                            <div class="table-responsive mb-0" data-pattern="priority-columns">
                                <table id="records-table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">ID NO</th> 
                                            <th class="text-center">NAMES</th> 
                                            <th class="text-center">MSISDN</th>  
                                            <th class="text-center">PRIMARY SUPERIOR</th>
                                            <th class="text-center">SECONDARY SUPERIOR</th>  
                                            <th class="text-center">DISTRICT NAME</th>
                                            <th class="text-center">SOCIETY NAME</th> 
                                            <th class="text-center">REGION</th> 
                                            <th class="text-center">SEX</th>
                                            <th class="text-center">ONLINE BALANCE</th>
                                            <th class="text-center">MAX CREDIT LIMIT</th>
                                            <th class="text-center">MAX WITHDRWAL LIMIT</th>
                                            <!--<th class="text-center" ng-if="testInitiateCMS()">ACTION</th>--> 
                                            <th class="text-center">ACTIVE STATUS</th>
                                            <th class="text-center">CREATED</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-font">
                                        <tr ng-hide="filteredPbcRecs.length">
                                            <td colspan="15" class="text-center text-danger">No data available - Found[0]</td>
                                        </tr> 

                                        <tr ng-hide="filteredPbcRecs.length">
                                            <td colspan="15" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                                        </tr> 
                                        <tr ng-repeat="f in filteredPbcRecs" id ="{{$index}}" class="cursor-pointer animate-repeat" ng-class="{'card-record': checkCms('card-enquiry')}" title="{{(checkCms('card-enquiry') ? 'right-click for options' : '')}}">
                                            <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>
                                            <td>{{f.idNo}}</td>
                                            <td>{{f.names}}</td>                                       
                                            <td class="">{{f.msisdn}}</td>
                                            <td class="text-left">{{f.primarySuperior}}</td>
                                            <td class="">{{f.secondarySuperior}}</td>
                                            <td class="">{{f.districtName}}</td>
                                            <td class="text-uppercase">{{f.societyName}}</td>
                                            <td class="">{{f.region}}</td>
                                            <td class="">{{f.sex}}</td>
                                            <td class="">{{f.onlineBalance}}</td>
                                            <td class="">{{f.maxCreditLimit}}</td> 
                                            <td class="text-center" >{{f.maxWithdrawalLimit}}</td>
                                            <td class="text-center">{{f.activeStatus}}</td>
                                            <td class="text-center">{{f.created}}</td>
                                        </tr>      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>

<div class="sticky-container">
    <ul class="sticky">
        <li class="download">
            <i class="fa fa-download fa-2x download-btn" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
            <i title="download as excel" class="fa fa-file-excel fa-2x fa-fw" style="color:#016f38;line-height: 45px; margin-left: 7px;" ng-click="exportToExcel(PbcRecs)"></i>
        </li>
        <li  ng-click="refreshReport2('PbcRecs', 'Pbc', 'pbc', 1, 0);">
            <i class="fa fa-sync fa-2x refresh-btn" title="Long press({{timerate / 1000}}sec autoRefresh)" style=" color: #2c8ee3; line-height: 45px; margin-left: 7px;"></i>
        </li>

    </ul>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getRecords('PbcRecs', 'Pbc', 'pbc', 1, 612)"> <i class="fa fa-step-backward"></i></span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getRecords('PbcRecs', 'Pbc', 'pbc', pageNumber - 1, 123)"> <i class="fa fa-backward"></i></span>&nbsp; &nbsp;
                <span class="badge badge-info py-1">Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
                <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getRecords('PbcRecs', 'Pbc', 'pbc', pageNumber + 1, 496)"><i class="fa fa-forward"></i></span>&nbsp;
                <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getRecords('PbcRecs', 'Pbc', 'pbc', fgRecordsLastPage, 777)"> <i class="fa fa-step-forward"></i></span>&nbsp;
            </div>
            <div class="col-sm-6">
                <span class="badge-info badge mr-3 cursor-pointer" title="Total Records">{{fgRecordsTotalCount}} </span>
                <select class="" id="show-records-select" ng-model="rowsPerPage">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>               
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                </select>   
                &nbsp;&nbsp;
            </div>
        </div>
    </div>
</footer>

<script>
    $(function () {
        $('.table-responsive').responsiveTable({});
    });
</script>