<div class="limiter" >
    <div class="container-login100" >
        <div class="wrap-login100 p-t-30 p-b-50 has-overlay animated bounceIn loginForm">
            <div class="overlay">
                <div class ="authLoading animated flipInY" style="display: none;">
                    <div class="circle-loader" >
                        <div class="checkmark error"></div>
                    </div>
                    <div style="text-align: center;"><h5>{{passwordChangeMessage||''}}</h5></div>
                </div>
                <form class="login100-form validate-form animated flipInY authLogin" >					

                    <div class="wrap-input100 validate-input newpassword " data-validate="Enter New password">
                        <span class="btn-show-pass" ng-click="toggleShowPassword('showPassword2');">
                            <i class="fa showPassword2 fa-eye"></i>
                        </span>
                        <input class="input100 newpassword" type="{{showPassword2}}" ng-model="auth.newpassword" placeholder="New Password">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>

                    <div class="wrap-input100 validate-input confpassword " data-validate="Confirm New Password">
                        <span class="btn-show-pass" ng-click="toggleShowPassword('showPassword3');">
                            <i class="fa showPassword3 fa-eye"></i>
                        </span>
                        <input class="input100 confpassword" type="{{showPassword3}}" ng-model="auth.confpassword" placeholder="Confirm Password">
                        <span class="focus-input100" data-placeholder=""></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn shadow-bottom">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" ng-click="executeDialogAction('changeAuthPassword');" ng-cloak="true">
                                Change Password &nbsp; <i class="zmdi zmdi-sign-in"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

