<div ng-show="testE_RequestLogtrans()">
    <div class="top-header-offset"></div>
    <!--loader-->
    <div class="etz-loader text-center card-outline-secondary shadows-bottom" ng-show="showLoader">
        <span>Loading</span>
        <!--<span class="fa fa-spin"><img src="./static/img/etzlogo.png" alt="ETZ loader" /></span>-->
        <span class="el-1"></span>
        <span class="el-2"></span>
        <span class="el-3"></span>
        <span class="el-4"></span>
        <span class="el-5"></span>
        <span class="el-6"></span>
    </div>
    <!--EndofLoader--> 
    <div class="container-fluid card-outline-secondary">
        <!--filter query box-->
        <div class="card tmc font08 filter-box ml-2 card-outline-secondary hiddedn" ng-show="showFilterBox">
            <div class="card-header text-center">
                REVERSED TRANSACTIONS
                <span class="float-right text-danger fa fa-window-close cursor-pointer" ng-click="hideFilterBox()" title="close window"></span>
            </div>
            <div class="card-block font08">
                <form ng-submit="getReversalTrxns(1);">
                    <table class="table borderless">
                        <tr>
                            <td><label for="start-date">Start Date</label></td>
                            <td> 
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="startDate" ng-model="startDate" placeholder="Start date" id="start-date" >
                                    <span class="input-group-addon fa fa-cale+ndar cursor-pointer" id="start-date-btn"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="end-date"> End Date</label></td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="endDate" ng-model="endDate" placeholder="End date" id="end-date" >
                                    <span class="input-group-addon fa fa-calendar cursor-pointer" id="end-date-btn"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="trans_data">Reference:</label></td>
                            <td><input class="form-control form-control-sm" name="trans_data" ng-model="trans_data" id="trans_data" /></td>
                        </tr>
                        <tr>
                            <td><label for="appname">App Used</label></td>
                            <td>
                                <select class="form-control form-control-sm" name="appname" ng-model="appname" id="appname">
                                    <option value="ALL">ALL</option> 
                                    <option value="XPortal2.MomoUpdaterApp">MomoUpdater App</option> 
                                    <option value="XPortal2.ReversalApp">Reversal App</option>
                                </select>    
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <td><label for="destination">Target: </label></td>
                            <td>
                                <select class="form-control form-control-sm" name="destination" ng-model="destination" id="destination">
                                    <option value="000" ng-show="!testbank()">ALL</option> 
                                    <option ng-repeat="option in E_RequestLogBankNodeList" ng-value="option.id">{{option.name}}</option>                   
                                </select>  
                            </td>
                        </tr>-->
                    </table>
                    <input type="hidden" name="service" ng-model="service" id="service" value="transactions" />
                    <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Search</button>
                </form>
            </div>
        </div>
        <!--actions div-->      
        <div class="actions-cont shadow-bottom pb-0 pt-2 px-2 font08 mb-1">
            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getReversalTrxns(1, 612)" > First</span>&nbsp;
            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getReversalTrxns(pageNumber - 1, 123)"> Prev</span>&nbsp;&nbsp;
            &nbsp;<span class="badge badge-info py-1"> Page {{pageNumber}}/{{erequestRecordsLastPage}}</span>&nbsp;
            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getReversalTrxns(pageNumber + 1, 496)"> Next</span>&nbsp;
            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getReversalTrxns(erequestRecordsLastPage, 777)"> Last</span>&nbsp;
            <span class="ml-5 badge badge-info py-1"> Total records found: {{erequestRecordsTotalCount}} </span>
            <span class="ml-5 badge badge-info py-1"> Total Amount Successful: <i>&#8373;</i> {{erequestRecordsTotalAmount}} </span>
            <!--<span class="ml-5 badge badge-info py-1"> Total Successful: <i>&#8373;</i> {{TotalAmount}} </span>-->

            <label class="ml-5" for="show-records-select">Show</label>
            <select class="" ng-change="reloadReversalTrxns()" id="show-records-select" ng-model="rowsPerPage">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>               
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="2000">2000</option>
            </select>   
            &nbsp;&nbsp;

            <a href="./Xportal/Report/EXCEL?action=tmc" class="cus-ml-1" data-toggle="tooltip" data-placement="bottom" title="Download MS Excel report"><img class="file-download-img" src="./static/img/excelicon.png" alt="download excel" /></a>
            <!--            &nbsp;<a href="./Xportal/Report/CSV" title="Download CSV report"><img class="file-download-img" src="./static/img/csvicon.png" alt="download csv" /></a>
                        &nbsp;<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="Download PDF report" class="hidden"><img class="file-download-img " src="./static/img/pdficon.png" alt="download pdf" /></a>
                        &nbsp;&nbsp;<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="View chart" class="hidden"><img class="file-download-img" src="./static/img/charticon.png" alt="view report diagram" /></a>-->

            <span class="cursor-pointer fa fa-refresh reload ml-5 fa" style="font-size: 1.5em;" data-toggle="tooltip" data-placement="bottom" title="reload" ng-click="reloadReversalTrxns()" ></span>
            <!--            <div class="input-group input-group-sm float-right" id="search-trans-cont" >
                            <input type="text" ng-model="searchTrxnKey" class="form-control form-control-sm" placeholder="Reference" >
                            <span class="input-group-addon cursor-pointer" ng-click="searchE_RequestLogTrxn()" id="search-trans-btn"><img src="./static/img/zoom.png" alt="search img" /></span>
                        </div>    -->
            <span class="cursor-pointer fa fa-window-restore fa float-right mr-3" data-toggle="tooltip" data-placement="bottom" title="show/hide form" id="filter-card-btn" style="font-size: 1.5em;"  ng-click="toggleFilterBoxView()" ></span>
        </div>
        <div class="table-wrapper scrollbar relative">

            <!--verify - tmc transaction detail-->
            <div class="card absolute tmc-search-div card-outline-secondary" ng-show="showTMCView">
                <div class="card-header text-center">
                    TMC TRANSACTION DETAIL
                    <span class="float-right text-danger fa fa-window-close cursor-pointer" ng-click="toggleTMCView()" title="close window"></span>
                </div>
                <div class="card-block font08">
                    <table class="table row-even table-bordered table-hover tablse-striped table-sm text-center">
                        <thead class="thead-default shadow-bottom font09" style="border-bottom: 3px solid lightgray">
                            <tr>
                                <th class="text-center">SN</th>
                                <th class="text-center">MTI</th>
                                <th class="text-center">REFERENCE</th>                           
                                <th class="text-center">TRANS DATE</th>  
                                <!--<th class="text-center">PROCESSING CODE</th>-->                             
                                <th class="text-center">TRANS AMOUNT</th>                             
                                <th class="text-center">RESPONSE CODE</th>                                                                                  
                            </tr>
                        </thead>
                        <tbody class="font07">
                            <tr ng-hide="tmcTrxs.length">
                                <td colspan="6" class="text-center text-danger">No data available - Found[0]</td>
                            </tr> 
                            <tr ng-hide="tmcTrxs.length">
                                <td colspan="6" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                            </tr> 
                            <tr ng-repeat="f in tmcTrxs" ng-class="tmcRowColor(f.response_code)">
                                <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>
                                <td class="text-left">{{f.mti}}</td>
                                <td class="text-left">{{f.trans_data}}</td>    
                                <td>{{f.trans_date| date:'dd/MM/yy @ HH:mm'}}</td>
                                <!--                                <td>{{f.pro_code}}</td>-->                             
                                <td><small><i>&#8373;</i></small>{{getAmt(f.amount)}}</td>                                
                                <td>{{f.response_code}}</td>                                                                                                                                             
                            </tr>                      
                        </tbody>
                    </table>
                </div>
            </div>


            <table class="table row-even table-bordered table-hover tablse-striped table-sm text-center">
                <thead class="thead-default shadow-bottom font09" style="border-bottom: 3px solid lightgray">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">REFERENCE</th> 
                        <th class="text-center">TRANS CODE</th> 
                        <th class="text-center">CARD NUM</th>
                        <th class="text-center">MERCHANT CODE</th>
                        <th class="text-center">FEE</th>
                        <th class="text-center">AMOUNT</th>  
                        <th class="text-center">ACTION</th> 
                        <th class="text-center">RSP CODE</th>
                        <th class="text-center">INITIATOR</th>
                        <th class="text-center">DATE INITIATED</th>
                        <th class="text-center">AUTHORIZER</th>
                        <th class="text-center">DATE AUTHORIZED</th>
                        <th class="text-center">APP NAME</th>
                        <th class="text-center">DESCR</th>  
                        <th class="text-center">DATE</th>                       
                    </tr>
                </thead>
                <tbody class="font07">
                    <tr ng-hide="erequestTrxs.length">
                        <td colspan="16" class="text-center text-danger">No data available - Found[0]</td>
                    </tr> 
                    <tr ng-hide="erequestTrxs.length">
                        <td colspan="16" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                    </tr> 
                    <tr ng-repeat="f in erequestTrxs" ng-class="erequestRowColor(f.response_code)">
                        <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>
                        <td class="text-left">{{f.transid}}</td>
                        <td class="text-center">{{f.trans_code}}</td>
                        <td class="text-right">{{f.card_num}}</td>
                        <td class="text-center">{{f.merchant_code}}</td>
                        <td class="text-right"><small><i>&#8373;</i></small>{{getAmt(f.fee)}}</td>
                        <td class="text-right"><small><i>&#8373;</i></small>{{getAmt(f.trans_amount)}}</td>                                            
                        <td>
                            <button id="{{f.id + '_1'}}" style="background: black;color:white" title="check reversal status from TMC" class="btn btn-sm sm-btn hpy-1 px-3 cursor-pointer" ng-click="searchTMCTrxn(f.id + '_1', f.transid)">VERIFY</button>
                        </td>
                        <td>{{f.response_code}}</td>
                        <td>{{f.initiated_by}}</td>
                        <td>{{f.date_initiated}}</td>
                        <td>{{f.authorized_by}}</td>
                        <td>{{f.date_authorized}}</td>
                        <td>{{f.appname}}</td>
                        <td class="text-left">{{f.trans_descr}}</td>
                        <td>{{f.trans_date}}</td>                     
                    </tr>                      
                </tbody>
            </table>
        </div>
    </div> 
</div>
<div ng-show="!testE_RequestLogtrans()" class="text-center text-danger" style = "height: 400px;padding: 50px;">
    <div class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></div>
    <br>
    <hr>
    <br>
    Sorry, Report not ready for your account yet. please use old <a href="https://webpay.etranzactgh.com/XPortal/index.etz">xPortal</a> to access your report.
</div>