<div ng-show="testTopupSales()">
    <div class="top-header-offset"></div>


    <!--loader-->
    <div class="etz-loader text-center card-outline-secondary shadows-bottom" ng-show="showLoader">
        <span>Loading</span>
        <!--<span class="fa fa-spin"><img src="./static/img/etzlogo.png" alt="ETZ loader" /></span>-->
        <span class="el-1"></span>
        <span class="el-2"></span>
        <span class="el-3"></span>
        <span class="el-4"></span>
        <span class="el-5"></span>
        <span class="el-6"></span>
    </div>
    <!--EndofLoader--> 
    <div class="container-fluid card-outline-secondary">
        <!--filter query box-->
        <div class="card filter-box ml-2 card-outline-secondary hiddedn" ng-show="showFilterBox">
            <div class="card-header text-center">
                TOPUP SALES REPORT
                <span class="float-right text-danger fa fa-window-close cursor-pointer" ng-click="hideFilterBox()" title="close window"></span>
            </div>
            <div class="card-block font08">
                <form ng-submit="getTopupSales(1);">
                    <table class="table borderless">
                        <tr>
                            <td><label for="start-date">Start Date</label></td>
                            <td> 
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="startDate" ng-model="startDate" placeholder="Start date" id="start-date" >
                                    <span class="input-group-addon fa fa-calendar cursor-pointer" id="start-date-btn"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="end-date"> End Date</label></td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm" name="endDate" ng-model="endDate" placeholder="End date" id="end-date" >
                                    <span class="input-group-addon fa fa-calendar cursor-pointer" id="end-date-btn"></span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label for="channel">Channel</label></td>
                            <td>
                                <select class="form-control form-control-sm" name="channel" ng-model="channel" id="channel">
                                    <!--                    <option value="ALL">All</option> -->
                                    <!--<option ng-repeat="option in channelsList" ng-value="option.channel_id">{{option.channel_name}}</option>-->
                                    <option value="FundGate">FundGate</option> 
                                    <option value="JustPay">JustPay</option> 
                                    <option value=Mobile>Mobile</option> 
                                </select>    
                            </td>
                        </tr>

                    </table>
                    <input type="hidden" name="service" ng-model="service" id="service" value="topupsales" />
                    <button type="submit" class="btn btn-secondary btn-block" id="filter-btn">Generate Report</button>
                </form>
            </div>
        </div>
        <!--actions div-->      
        <div class="actions-cont shadow-bottom pb-0 pt-2 px-2 font08 mb-1">
            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to first page" ng-click="getTopupSales(1, 612)" > First</span>&nbsp;
            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to previous page" ng-click="getTopupSales(pageNumber - 1, 123)"> Prev</span>&nbsp;&nbsp;
            &nbsp;<span class="badge badge-info py-1"> Page {{pageNumber}}/{{fgRecordsLastPage}}</span>&nbsp;
            <span class="text-primary cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to next page" ng-click="getTopupSales(pageNumber + 1, 496)"> Next</span>&nbsp;
            <span class="text-info cursor-pointer" data-toggle="tooltip" data-placement="right" title="go to last page" ng-click="getTopupSales(fgRecordsLastPage, 777)"> Last</span>&nbsp;
            <!--            <span class="ml-5 badge badge-info py-1"> Total records found: {{fgRecordsTotalCount}} </span>
                        <span class="ml-5 badge badge-info py-1"> Total Amount: <i>&#8373;</i> {{fgRecordsTotalAmount}} </span>-->

            <label class="ml-5" for="show-records-select">Show</label>
            <select class="" ng-change="reloadTopupSales()" id="show-records-select" ng-model="rowsPerPage">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>             
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="2000">2000</option>
            </select>   
            &nbsp;&nbsp;

            <a href="./Xportal/Report/EXCEL?action=topupsales" class="cus-ml-1" data-toggle="tooltip" data-placement="bottom" title="Download MS Excel report"><img class="file-download-img" src="./static/img/excelicon.png" alt="download excel" /></a>
            <!--&nbsp;<a href="./Xportal/Report/CSV" title="Download CSV report"><img class="file-download-img" src="./static/img/csvicon.png" alt="download csv" /></a>-->
            &nbsp;<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="Download PDF report" class="hidden"><img class="file-download-img " src="./static/img/pdficon.png" alt="download pdf" /></a>
            &nbsp;&nbsp;<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="View chart" class="hidden"><img class="file-download-img" src="./static/img/charticon.png" alt="view report diagram" /></a>

            <span class="cursor-pointer fa fa-refresh reload ml-5 fa" style="font-size: 1.5em;" data-toggle="tooltip" data-placement="bottom" title="reload" ng-click="reloadElacTrxns()" ></span>

            <span class="cursor-pointer fa fa-window-restore fa float-right mr-3" data-toggle="tooltip" data-placement="bottom" title="show/hide form" id="filter-card-btn" style="font-size: 1.5em;"  ng-click="toggleFilterBoxView()" ></span>
        </div>
        <div class="table-wrapper scrollbar">

            <table class="table row-even table-bordered table-hover tablse-striped table-sm text-center">
                <thead class="thead-default shadow-bottom font09" style="border-bottom: 3px solid lightgray">
                    <tr ng-show="topupSales.length">
                        <th class="text-center"></th>
                        <th class="text-center"></th> 
                        <th class="text-center"></th>
                        <th class="text-center">{{OverallTotalTrans}}</th> 
                        <th class="text-center"><small><i>&#8373;</i></small>{{OverallTotalAmount}}</th>
                        <th class="text-center"><small><i>&#8373;</i></small>{{OverallDiscount}}</th>
                        <th class="text-center"><small><i>&#8373;</i></small>{{OverallTotalVat}}</th>
                        <th class="text-center"><small><i>&#8373;</i></small>{{OverallTotalDisVat}}</th> 
                        <th class="text-center"><small><i>&#8373;</i></small>{{OverallGCBCom}}</th> 
                        <th class="text-center"><small><i>&#8373;</i></small>{{OverallEtzCom}}</th>
                        <th class="text-center"><small><i>&#8373;</i></small>{{OverallVatAddEtz}}</th>   
                    </tr>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">SOURCE</th> 
                        <th class="text-center">PROVIDER</th>
                        <th class="text-center">TOTAL TRANSACTIONS</th> 
                        <th class="text-center">TOTAL AMOUNT</th>
                        <th class="text-center">DISCOUNT GIVEN</th>
                        <th class="text-center">17.5% VAT</th>
                        <th class="text-center">DISCOUNT - 17.5%</th> 
                        <th class="text-center">GCB COM/TRANSFER TO</th> 
                        <th class="text-center">ETZ COM</th>
                        <th class="text-center">VAT ADD BACK TO ETZ COM</th>   
                    </tr>
                </thead>
                <tr>
                    <th class="thead-default shadow-bottom font08" colspan="11" scope="colgroup">
                        FUNDGATE CHANNEL
                    </th>
                </tr>
                <tbody class="font07">
                    <tr ng-hide="topupSales.length">
                        <td colspan="11" class="text-center text-danger">No data available - Found[0]</td>
                    </tr> 
                    <tr ng-hide="topupSales.length">
                        <td colspan="11" class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></td>
                    </tr> 

                    <tr class="animate-repeat" ng-repeat="f in topupSales">
                        <td>{{((pageNumber - 1) * rowsPerPage) + $index + 1}}</td>
                        <td class="text-left">{{f.merchant}}</td>  
                        <td class="text-left">{{f.provider}}</td>
                        <td class="text-left">{{f.totaltrans}}</td>
                        <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.totalamount)}}</td>
                        <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.discount)}}</td>
                        <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.vat)}}</td>
                        <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.disvat)}}</td>
                        <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.gcbcom)}}</td>
                        <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.etzcom)}}</td>
                        <td class="text-left"><small><i>&#8373;</i></small>{{getAmt(f.vataddetzcom)}}</td>

                    </tr> 

                </tbody>
                <!--                <tr>
                                    <th class="thead-default shadow-bottom font08" colspan="11" scope="colgroup">
                                        
                                    </th>
                                </tr>
                                <tr>
                                    <th class="thead-default shadow-bottom font08" colspan="11" scope="colgroup">
                                        JUSTPAY CHANNEL
                                    </th>
                                </tr>-->
            </table>
        </div>
    </div> 
</div>
<div ng-show="!testTopupSales()" class="text-center text-danger" style = "height: 400px;padding: 50px;">
    <div class="text-center"><a href="https://etranzact.com.gh/" target="_blank">eTranzact Ghana Ltd.</a></div>
    <br>
    <hr>
    <br>
    Sorry, Report not ready for your account yet. please use old <a href="https://webpay.etranzactgh.com/XPortal/index.etz">xPortal</a> to access your report.
</div>